<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수강생 학점</title>
</head>
<body>

<h2>수강생 학점</h2>

<table border="1">
    <thead>
    <tr>
        <th>이름</th>
        <th>학번</th>
        <th>중점과목</th>
        <th>점수</th>
    </tr>
    </thead>
    <tbody>
    <!-- subjectList를 반복하며 각 과목을 표시합니다. -->
    <tr th:each="subjectScoreDto : ${subjectScoreList}">
        <td th:text="${subjectScoreDto.name}"></td>
        <td th:text="${subjectScoreDto.id}"></td>
        <td th:text="${subjectScoreDto.majorSubject}"></td>
        <td th:text="${subjectScoreDto.point + ':' + subjectScoreDto.grade}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
